@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family:'Open Sans';
    background-color: rgb(255, 255, 255);
    margin: 0;    
}

header{
    padding: 25px 0;
    text-align: center;
    background-color:rgb(168, 168, 168)   
}

main{
    margin: 50px;
}

nav a{
    margin: 0 30px;
    display: inline-block;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 30px;
}
nav a:hover{
    background-color: #c2bfbf;
    color: #111110;
}

.i-nosotros{
    height: 500px;
    width: 100%;
}

.img-principal{
background-image: url(/assets/img/principal.jpg);
height: 400px;
background-size: cover;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: #ffffff;
}

.img-principal p{
    font-size: 25px;
}

.img-principal h1{
    padding: 30px;
}

.titulo{
    margin: 30px;
    text-align: center;
    background-color: rgb(102, 104, 103);
}

.imgh1{
    display: flex;
    justify-content: center;
   
}


/* registro */

.r-main{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 60px
}

.form{
    padding: 50px 55px;
    box-shadow: 0 0 20px; 
    border-radius: 30px;
    text-align: center;
    width: 340px;
}

.grup{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.r-h2{
    padding: 25px;
    color: rgb(67, 68, 67);
    font-size: 25px;
}

label{
    color: #374133;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: rgb(134, 167, 97);
    border: 2px #283629;
    color: #080808;
    outline: none;
}

.btn{
    font-size: 16px;
    color: #fff;
    border: 0;
    border-radius: 25px;
    background-color: black;
    box-shadow: 0 0 20px rgba(25, 254, 0, 0.4);
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(129, 127, 127);
}













